<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Account</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/account-page.css') }}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</head>
<body>
    <nav id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Locations</a>
        <a href="#">Contact</a>
      </nav>
      
      <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>

    <div class="account-information">
        {% for users in data %}
        <p> Profile Picture: <img class="profile-image" src="static/assets/{{users[6]}}" alt="Profile Picture" width="100" height="100"></p>
        <p> Your name: {{users[2]}}</p>
        <p> Your email: {{users[5]}}</p>

        <h2>Edit Your Account Information</h2>
        <button id="editButton" onclick="toggleEditForm()">Edit</button>
        <form id="editForm" style="display: none" action="/update" method="post">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" placeholder="Your Name">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Your Email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Your Password">
            </div>
            <button type="submit">Update Account</button>
        </form>
    </div>

    <form method="POST" action="/delete-account">
        <input type="hidden" name="UserID" value="{{ users[0] }}">
        <button type="submit">Cancel Booking</button>
    </form>
    {% endfor %}

</div>
</body>
</html>
