<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Indivudual Bookings</title>
</head>
<body>
    {% for detail in data %}
    <h1>{{ detail[0] }}</h1>
    <table>
        <thead>
            <tr>
                <th>Booking ID</th>
                <th>Customer Name</th>
                <th>Booking Date</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>{{ detail[0] }}</td>
                    <td>{{ detail[1] }}</td>
                    <td>{{ detail[3] }}</td>
                </tr>
        </tbody>
    </table>

    <form method="POST" action="/cancel-booking">
        <input type="hidden" name="booking_id" value="{{ detail[0] }}">
        <button type="submit">Cancel Booking</button>
    </form>
    {% endfor %}

</body>
</html>